# Python
__pycache__/
*.py[cod]
*$py.class
.env
.env.local
.env.*
.venv/
venv/

# Node.js
node_modules/
dist/
build/
.eslintcache

# Databases
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db

# Misc
.vscode/
.idea/
*.log

# Security
*.pem
server/keys/
